<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeInventory</servlet-name>
    <servlet-class>Controller.ChangeInventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInventory</servlet-name>
    <url-pattern>/InventoryChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductMessage</servlet-name>
    <servlet-class>Controller.ProductMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductMessage</servlet-name>
    <url-pattern>/ProductSendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReplyList</servlet-name>
    <servlet-class>Controller.ReplyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyList</servlet-name>
    <url-pattern>/Reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListSend</servlet-name>
    <servlet-class>Controller.ListSend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSend</servlet-name>
    <url-pattern>/SendList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderUpload</servlet-name>
    <servlet-class>Controller.OrderUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderUpload</servlet-name>
    <url-pattern>/UploadOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateComment</servlet-name>
    <servlet-class>Controller.UpdateComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComment</servlet-name>
    <url-pattern>/CommentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePlan</servlet-name>
    <servlet-class>Controller.UpdatePlan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePlan</servlet-name>
    <url-pattern>/PlanUpdate</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>StateChange</servlet-name>
    <servlet-class>Controller.StateChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateChange</servlet-name>
    <url-pattern>/ChangeState</url-pattern>
  </servlet-mapping>
</web-app>